<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Login Account</p>
    <% if(error.length>0){ %>
      <p class="error"><%= error %></p>
   <% } %> 
<form action="/login" method="post">
      <input type="text" name="username" placeholder="username" class="detail" /><br />
      <input type="password" name="password" placeholder="Password" class="detail" />
      <input type="submit" class="btn int" value="Log-in">
</form>
<a href="/" class="login">Sing up</a><br>
    
      <a href="/forgot">Forgot your password?</a>
      
  </div>

</body>
</html>